@font-face {
    font-family: Fondamento;
    src: url("../fonts/Fondamento/Fondamento-Regular.woff2") format("woff2"),
    url("../fonts/Fondamento/Fondamento-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Cormorant;
    font-weight: bold;
    src: url("../fonts/Cormorant/Cormorant-BoldItalic.woff2") format("woff2"),
    url("../fonts/Cormorant/Cormorant-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Upright";
    src: url("../fonts/Cormorant_Upright/CormorantUpright-Regular.woff2") format("woff2"),
    url("../fonts/Cormorant_Upright/CormorantUpright-Regular.ttf") format("truetype");
}

:root {
    --primary-bg: #fffaf4;
    --checker-colour: #B7D2F3;
    --body-colour: #272727;
    --subtitle-colour: #838383;
    --intro-text-colour: red;
    --wiggle-colour: #45b5ff;
    --chrome-background: #D2D2D2;
    --chrome-button-color: #ADADAD;
    --chrome-text-color: #3F3F3F;
    --chrome-border-top-color: #ECECEC;
    --loading-view-transition-time: 14s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #2c3638;
        --checker-colour: #4970a0;
        --body-colour: #f0f0f0;
        --subtitle-colour: #c2c1c1;
        --intro-text-colour: #ff5858;
        --wiggle-colour: #37aefd;
        --chrome-background: #2C2C2B;
        --chrome-button-color: #4C4C4B;
        --chrome-text-color: #E9E9E9;
        --chrome-border-top-color: #676767;
    }
}

body, html {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: var(--primary-bg);
    color: var(--body-colour);
    position: relative;
}

.loading-view {
    align-items: center;
    background: black;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Upright";
    font-size: 1.5rem;
    gap: 20px;
    height: 100%;
    justify-content: center;
    left: 0;
    line-height: 2rem;
    opacity: 0.001;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 100%;
    z-index: 0;

    &.display {
        opacity: 1;
        transition: opacity calc(var(--loading-view-transition-time) - 6s) ease calc(var(--loading-view-transition-time) - 8s);
        visibility: visible;
        z-index: 4;

        * {
            opacity: 1;
        }

        img {
            transition: opacity 1s ease calc(var(--loading-view-transition-time) - 4s);
        }

        :nth-child(3) {
            transition: opacity 1s ease calc(var(--loading-view-transition-time) - 2s);
        }

        > button {
            transition: opacity 1s ease calc(var(--loading-view-transition-time) + 1s);
        }
    }
    
    *:not(img) {
        color: #f0f0f0;
        max-width: 50ch;
        opacity: 0;
    }

    img {
        animation: rotate 0.6s linear infinite;
        opacity: 0;
        transform: rotate(0deg);
        width: 25px;
    }

    > button {
        background: none;
        border: none;
        font-family: "Cormorant Upright";
        font-size: 1.2rem;
        outline: inherit;
        padding: 0;
        border-bottom: 1px solid #f0f0f0;

        &:hover {
            border-bottom-style: dotted;
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate(-360deg);
    }
}

#checkerboard-3d-wrapper {
    animation: delayed-hide 0s 2.3s forwards;
    height: 100%;
    overflow: hidden;
    perspective: 1300px;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    z-index: 3;
}

@keyframes delayed-hide {
    to {
        height: 0;
        width: 0;
    }
}

#checkerboard {
    $check-size: 90px;
display: none;
    align-items: center;
    animation: spin 0.1s forwards;
    // animation: spin 1.5s 0.8s forwards;
    background-color: var(--checker-colour);
    background-image: linear-gradient(45deg, var(--primary-bg) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--primary-bg) 75%), linear-gradient(-45deg, var(--primary-bg) 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, var(--primary-bg) 75%), linear-gradient(135deg, var(--checker-colour), var(--primary-bg));
    background-size: $check-size $check-size, $check-size $check-size, $check-size $check-size, $check-size $check-size, 100% 100%;
    background-position: $check-size / 2 $check-size / 2, 0 0, -1 * $check-size / 2 0, 0 $check-size / 2, 0 0;
    box-sizing: border-box;
    color: var(--intro-text-colour);
    display: flex;
    font-family: Fondamento, Garamond, serif;
    font-size: 4rem;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    transform: rotateX(0.00001deg) rotateZ(0.00001deg) translateZ(0.1px);
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotateX(0.00001deg) rotateZ(0.00001deg) translateZ(0.1px);
    }

    100% {
        transform: rotateX(90deg) rotateZ(90deg);
    }
}

h1 {
    animation: shimmer 5s ease infinite;
    color: rgb(159, 255, 175);
    font-family: Cormorant;
    font-size: 6rem;
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(45deg, rgb(159, 255, 175), rgb(69, 181, 255), rgb(255, 120, 248) 45%, rgb(255, 120, 248), rgb(255, 120, 248) 55%, rgb(69, 181, 255), rgb(159, 255, 175) 95% );
    background-size: 200% 100%;
    margin: 0 0 10px 0;
    -webkit-text-fill-color: transparent;
}

@keyframes shimmer {
    from {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }
    to {
        background-position: 0 0;
    }
}

.wiggly-line {
    $wiggle-size: 7px;
    $grad-start: 48%;
    $grad-end: 52%;

    background-image: linear-gradient(45deg, transparent, transparent $grad-start, var(--wiggle-colour) $grad-start, var(--wiggle-colour) $grad-end, transparent $grad-end), linear-gradient(-45deg, transparent, transparent $grad-start, var(--wiggle-colour) $grad-start, var(--wiggle-colour) $grad-end, transparent $grad-end);
    background-size: $wiggle-size * 2 $wiggle-size * 2;
    height: $wiggle-size;
    margin-top: -20px;
    position: relative;
    width: 100%;
    z-index: -1;
}

#pronouns {
    color: var(--subtitle-colour);
    font-size: 1.2rem;
    margin: 0.5rem 0 1.5rem 0;
    text-align: center;
}

p {
    font-family: "Cormorant Upright";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    min-width: 100%;
    line-height: 2rem;
    text-align: justify;
    width: 0;
}

a {
    color: var(--body-colour);
}

ul {
    list-style: none;
    padding: 0;
}

p + ul {
    margin-top: -1rem;
}

li {
    font-family: "Cormorant Upright";
    font-size: 1.3rem;
    line-height: 1.8rem;

    &:before {
        content: "–";
        margin-right: 5px;
    }
}

.strikethrough {
    text-decoration: line-through;
}

#main-wrapper {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
}

main {
    overflow: visible;
    padding-bottom: 1.5rem;
    position: relative;
    top: 20%;
    z-index: 0;

    .window-placeholder {
        align-items: center;
        display: none;
        justify-content: center;
        margin-top: 1.5rem;
        position: relative;

        p {
            text-align: center;
        }
    }

    .window {
        border-radius: 12px;
        box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);  
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        min-width: 100%;
        position: relative;
        transform: rotate3d(0, 1, 0, 0deg);
        transition: transform 1s ease;
        width: 0;
        z-index: 0;

        &.rotated {
            transform: rotate3d(0, 1, 0, 180deg);
        }

        &.absolute {
            position: fixed;
            margin-top: 0;
            min-width: auto;
            z-index: 2; 
        }

        &.enlarged {
            transition-property: top, left, width;
            transition-duration:  32s;
            transition-timing-function: ease-in-out;
            
            img {
                image-rendering: pixelated;
            }
        }

        img {
            border-radius: 0 0 12px 12px;
            width: 100%;
        }

        .todo {
            background: black;
            color: #f0f0f0;
            font-family: monospace;
            font-size: 2rem;
            opacity: 0;
            position: absolute;
            top: 100px;
            visibility: hidden;
        }

        .todo.flash {
            animation: flash 2s 0.8s ease forwards;
            opacity: 1;
            visibility: visible;
        }
        
        @keyframes flash {
            to {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .chrome {
        align-items: center;
        background-color: var(--chrome-background);
        border-top: 0.25px solid var(--chrome-border-top-color);
        border-bottom: 0.5px solid rgba(0,0,0,0.5);
        border-radius: 12px 12px 0 0;
        box-sizing: border-box;
        color: var(--chrome-text-color);
        cursor: grab;
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        height: 52px;
        justify-content: space-between;
        line-height: 8px;
        padding: 0 23px;

        .buttons {
            display: flex;
            gap: 7.5px;

            button {
                background: none;
	            border: none;
                border-radius: 6.5px;
                height: 11.5px;
                outline: inherit;
                padding: 0;
                width: 11.5px;

                &:first-child {
                    background-color: #FF5E57;
                    border: 0.5px solid #E04037;
                }

                &:nth-child(2) {
                    background-color: #FEBC2E;
                    border: 0.5px solid #DE9C1B;
                }

                &:nth-child(3) {
                    background-color: #28C73E;
                    border: 0.5px solid #19A823;
                }
            }
        }

        .filename {
            margin-left: 22.5px;
            margin-top: 0.08rem;
        }
        
        .chrome-left-contents, .chrome-right-contents {
            display: flex;
        }

        .chrome-right-contents {
            gap: 10px;

            div {
                background-color: var(--chrome-button-color);
            }

            .chrome-line {
                height: 20px;
                width: 1px;
            }

            div:not(.chrome-line) {
                $dot-size: 19px;
                border-radius: $dot-size;
                box-sizing: border-box;
                height: $dot-size;
                justify-self: right;
                width: $dot-size;
            }
        }
    }
}

#face-1 {
    left: -50%;
    top: 0;
    transform: rotate(10deg);
    width: 53%;

    video {
        height: 100%;
        width: 100%;

        &:last-child {
            display: none;
        }
    }
}

#face-2 {
    left: 110%;
    top: 30%;
}

#face-3 {
    left: -45%;
    top: 55%;
    width: 32%;
}

.face {
    animation: 0.9s 2s fade-in forwards;
    min-width: auto;
    opacity: 0;
    position: absolute;
    transform: rotate(-10deg);
    width: 25%;
    z-index: 1;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
        height: 0;
    }
}

.announcement {
    opacity: 0;
    position: absolute;
}

.possums {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    img {
        border-radius: 5px;
        position: absolute;
        width: 350px;
        box-shadow: 0px 0px 22px -15px black;
    }

    .close-button {
        color: var(--body-colour);
        font-family: Arial;
        font-size: 4rem;
        left: 30px;
        position: absolute;
        transition: 2s opacity ease-in-out;
        top: 30px;
        z-index: 2;
    }
}

.possum-wrapper {
    height: 50vh;
    width: 50vw;
    z-index: 1;
}

.pink-overlay {
    animation: 8s pulse infinite ease-in-out;
    background-color: #FF7083;
    height: 100%;
    left: 0;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: perspective(100px) translateZ(26px);
    width: 100%;
    
}

.heart {
    animation: 2s fade-in forwards ease-in-out;
    font-size: 30px;
    opacity: 0;
    position: absolute;
    transform: perspective(100px) translateZ(-26px);
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.1;
    }
}

@media (min-width: 501px) and (max-width: 780px) {
    #face-1 {
        left: 0;
        top: -10%;
    }

    #face-2 {
        left: 70%;
        top: 33%;
    }

    #face-3 {
        top: auto;
        bottom: -8%;
        left: -9%;
    }
}

@media only screen and (max-width : 500px) {
    #checkerboard {
        font-size: 3rem;
    }
    
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    li {
        font-size: 1.1rem;
    }

    .wiggly-line {
        margin-top: -18px;
    }

    #face-1 {
        left: 0;
        top: -10%;
    }

    #face-2 {
        left: 70%;
        top: 33%;
    }

    #face-3 {
        top: auto;
        bottom: -8%;
        left: -9%;
    }

    .chrome-right-contents :first-child {
        display: none;
    }

    main .window .todo {
        font-size: 1.5rem;
    }
}

@media (prefers-reduced-motion) {
    #checkerboard {
        animation-name: fade-out;
    }

    h1 {
        animation: none;
    }

    #face-1 {
        video {
            &:first-child {
                display: none;
            }

            &:last-child {
                display: initial;
            }
        }
    }

    .pink-overlay {
        animation: none;
    }
}
