$font-stack: Open Sans, Helvetica, Arial, sans-serif;

html, body {
  font-family:$font-stack;
  margin:0;
  height:100%;
  width:100%;
}

a img {
  outline : none!important;
  border: 0;
}

#front {
  position:relative;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  background-color:black;
  height:100%;
  width:100%;
  -webkit-box-shadow:0px 1px 10px -1px black;
          box-shadow:0px 1px 10px -1px black;
}

#flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width:100%;
  height:inherit;
}

nav {
  position:absolute;
  height:100px;
  top:0;
  width:100%;
  text-align:right;
  margin-top:15px;
  margin-bottom:15px;

  a {
    padding:10px;
    color:white;
    font-size:11pt;

    &:nth-of-type(4){
      padding-right:25px;
    }
  }
}

h1 {
  color:white;
  text-align:center;
  font-family:Playfair Display;
  font-size:75pt;
  font-weight:700;
  font-style:italic;
  margin:0;
  text-shadow:0px 0px 50px black;
}

a{
  text-decoration:none;
}


#photos {
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width:100%;
  height: 66vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
     -ms-flex-direction:column;
         flex-direction:column;
  -webkit-box-pack: center;
   justify-content: center;
     -ms-flex-pack: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  background-size:auto 100%;
  background-position: center center;
  color:#FFDF31;

  span {
    margin:0;
    font-weight:800;
    font-size:80pt;
    text-align:center;
    letter-spacing:-3px;
    text-decoration: none;
    -webkit-transform: translateZ(110px);
            transform: translateZ(110px);
    z-index: 1;
  }
}

#goat {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
   justify-content: center;
     -ms-flex-pack: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

#bg {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../goat_images/bg.jpg") center / 100% no-repeat;
    -webkit-transform: translateZ(-800px) scale(1.8);
            transform: translateZ(-800px) scale(1.8);
    z-index: -2;
}

#fg {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../goat_images/goat.png") center / 100% no-repeat;
  z-index: 0;
}

h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  font-weight:300;
  font-size:30pt;
}

#projects {
  display: -ms-grid;
      display: grid;
  grid-template-columns: 1fr 1fr;
       -ms-grid-columns: 1fr 1fr;
  width:100%;
  max-width:1000px;
  text-align:center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.thing {
  position:relative;
  z-index:100;
  display:inline-block;
  margin:0 auto;
  width:50%;

  div {
    position:relative;
    width:200px;
    height:200px;
    background:black;
    border-radius:50%;
    margin:0 auto;
    z-index:2;
    margin-bottom:-200px;
    opacity:0;
    transition:0.5s opacity;
    -webkit-transition:0.5s opacity;
       -moz-transition:0.5s opacity;
         -o-transition:0.5s opacity;

    &:hover {
      transition:0.3s opacity;
      -webkit-transition:0.3s opacity;
         -moz-transition:0.3s opacity;
           -o-transition:0.3s opacity;
      opacity:0.8;
    }

    span {
      text-align:center;
      line-height:200px;
      position:absolute;
      z-index:2;
      width:200px;
      left:0;
      color:white;
      font-size:12pt;
    }
  }

  img {
    width:200px;

  }
}

#about {
  padding:40px;
  background:#4EC6F0;
  text-align:center;
  p {
    &:nth-last-of-type(1) {
      margin-bottom:0!important;
    }

    a {
      text-decoration:underline;
      color:white;
    }

    text-align: justify;
    color:white;
    max-width:700px;
    font-weight:400;
    margin:0 auto;
    margin-bottom:20px;
  }
}

h4 {
  display:inline-block;
  margin:0;
  margin-bottom:20px;
  font-weight:300;
  font-size:30pt;
  color:white;
}

#cv {
  margin: 0 auto;
  padding-top: 20px;
  text-decoration: underline;

  a {
    color: white;
  }
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
   justify-content: center;
     -ms-flex-pack: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
         -ms-flex-direction:row;
             flex-direction:row;
  background:#323332;
  height:150px;

}

.contact_img {

  div {
    margin-left:100px;
    margin-right:100px;
    height:50px;
    width:50px;
    display:block;
  }

  margin-top: 50px;
  margin-bottom:50px;
  display:inline-block;
}

#social_twitter {
  background: url('../sprites.png') no-repeat 0 -33px;
  background-size: 105px 133px;
  width: 50px;
  height: 41px;
}

#social_flickr {
  background: url('../sprites.png') no-repeat 0 -1px;
  background-size: 105px 133px;
  width: 51px;
  height: 24px;
}

#social_linkedin {
  background: url('../sprites.png') no-repeat 0 -83px;
  background-size: 105px 133px;
  width: 50px;
  height: 50px;
}

#social_github {
  background: url('../sprites.png') no-repeat -55px 0;
  background-size: 105px 133px;
  width: 50px;
  height: 50px;
}

#social_email {
  background: url('../sprites.png') no-repeat -54px -55px;
  background-size: 105px 133px;
  width: 50px;
  height: 39px;
}

#copy{
  padding:32px;

  p {
    font-size:10.5pt;
    text-align: center;
    color:gray;
  }
}

::-moz-selection, -moz-::-moz-selection {
  background:black;
  color:white;
}

::selection, -moz-::selection {
  background:black;
  color:white;
}

/* Fonts*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800,400);

/*Media Queries*/
@media screen and (min-device-width:1681px) {
  #front {
  background-image:url('../fire_big.jpg');
  }
  /* #photos{*/
  /*   background-image:url('../goat_big.jpg');*/
  /* }*/
}

@media screen and (max-device-width:1680px) {
  #front {
    background-image:url('../fire_med.jpg');
  }
  /* #photos{*/
  /*   background-image:url('../goat_med.jpg');*/
  /* }*/
}

@media screen and (max-device-width:1000px) {
  #front {
    background-image:url('../fire_small.jpg');
  }
  /* #photos{*/
  /*   background-image:url('../goat_small.jpg');*/
  /*   background-size:auto 100%;*/
  /*   background-position: center center;*/
  /* }*/
}

/* Mobile */
@media (max-device-width:500px) {
  nav a {
    font-size:10pt;
  }
  .contact_img div {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  #photos span {
    font-size: 32pt;
  }

  h1 {
    font-size: 40pt;
  }

  h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    font-size: 22pt;
    padding: 0 15px 0 15px;
  }

  #projects {
    grid-template-columns: 1fr;
         -ms-grid-columns: 1fr;
  }
}

/* Squeeze icons closer together so they don't go off the screen */
@media (max-width:1100px) {
  .contact_img {
    div {
      margin-left:3vw;
      margin-right:3vw;
    }
  }
}
