<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://moon.amosjackson.com/style.css">
</head>
<body>
	<img src="http://moon.amosjackson.com/moonpng.png">
	<div id="text"><h1>Beware of werewolves tonight</h1></div>
</body>
</html>