<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://bikes.amos.im/style.css">
  </head>
  <body>
    <h1>Abbey Orchard Street, Westminster</h1>
    <img class='dither' src='http://maps.googleapis.com/maps/api/staticmap?center=51.49812559,-0.132102166&zoom=16&size=192x192&maptype=roadmap
&markers=color:red%7C51.49812559,-0.132102166&sensor=false&key=XXXX&style=feature:all%7Csaturation:-100&scale=2'>
    <p>There are <span>17</span> bikes and <span>12</span> empty docks.</p>
    <hr>
  </body>
</html>
