@font-face
{
	font-family:Pointy;
	src: url('pointy.ttf');
}
@font-face
{
	font-family:Sketch Rockwell;
	src:url('sketch.ttf');
}

@font-face
{
	font-family:Adelle;
	src:url('adelle.otf');
}

@font-face
{
	font-family:Sansation;
	src:url('sansation/sansation_light.ttf');
}

@font-face
{
	font-family:Sansation Bold;
	src:url('sansation/sansation_bold.ttf');
}

@font-face
{
	font-family:Colab;
	src:url('Colab.otf');
}

@font-face
{
	font-family:Blackout;
	src:url('blackout.ttf');
	src:url('blackout.woff');
}

@font-face
{

	font-family:sort;
	src:url('sort/sort.ttf') format('trutype');
	src:url('sort/sort.woff') format('woff');
}

@font-face
{

	font-family:Ostrich;
	src:url('ostrich/ostrich.ttf') format('trutype');
	src:url('ostrich/ostrich.woff') format('woff');
}
