body{	
	margin:0;
	padding:0;
	width:384px;
	overflow-y:hidden;
}

h1{
	font-family:bebas neue;
	margin:0;
	padding:0;
	color:white;
	font-size:45px;
	line-height:45px;
}

#text{
	width:100%;
	text-align:center;
	background:black;
}

img{

	width:384px;
}

#container{

	margin-top:10px;
	margin-bottom:10px;
}